@import "base/_base.scss";    // Keep at top of file
@import "_global.scss"; // Keep at top of file

html, body {
	height: 100%;
}

body {
	@include fauna;
	--transition-duration: 500ms;
	font-size: 20px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: stretch;
}

div.bg {
	background: url('../images/background.jpg') center top no-repeat;
	background-size: cover;
	max-width: 700px;
	flex-shrink: 1;
	flex-grow: 2;
}

div.content {
	flex-shrink: 0;
	flex-grow: 1;
	display: grid;

	// See base/__dimensions.scss for explanations of these and other variables
	grid-template-columns: $content-offset-w  1fr  $content-offset-e;
	grid-template-rows: $content-offset-n  $color-button-y  1fr  $color-button-y  $content-offset-s;
}

nav {
	grid-area: 2 / 2 / span 1 / span 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $color-button-y;
}

.color-modes {
	height: $color-button-y;

	button {
		@include fauna;
		font-size: 16px;
		color: $blue;
		background-image: none;
		border-width: $color-button-border-width;
		border-style: solid;
		border-radius: 10000px; // Large value creates the pill shape automatically
		height: 100%;
		padding: $color-button-pn  $color-button-pe  $color-button-ps  $color-button-pw;
		line-height: $color-icon-y;
		cursor: pointer;


		span {
			display: block;
			width: 100%;
			height: 100%;
			white-space: nowrap;

			&::before {
				content: url('../images/mode-icon.svg');
				display: inline-block;
				width: $color-icon-x;
				height: $color-icon-y;
				vertical-align: middle;
				margin-right: $color-button-pw - 2px;
			}
		}
	}

	span span {
		display: none;
	}
}

a.logo {
	display: block;

	// Align letter m to left margin, not the swoosh. The width from the
	// swoosh's left end to the letter's left end is 15% of total icon width
	transform: translateX(-15%);

	svg {
		display: block;
		height: $logo-y;
		width: auto;
	}
}

main {
	grid-area: 3 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

h2, h1 {
	margin: 0px;
}

h2 {
	font-weight: normal;
	font-size: 30px;
	line-height: 1.2;
}

h1 {
	@include playfair;
	font-size: 98px;
	line-height: 1.1;
}

hr {
	border: 0px none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	width: 250px;
	max-width: 100%;
	margin: 30px 0px;

	+ p {
		margin-top: 0px;
	}
}


// Support MacOS native dark mode, even for users without JavaScript
body {
	@include light-mode;

	@media (prefers-color-scheme: dark) {
		@include dark-mode;
	}
}

body.light {
	@include light-mode;
	button.to-light {
		display: none;
	}
}

body.dark {
	@include dark-mode;
	button.to-dark {
		display: none;
	}
}


// Don't show color toggle buttons to users without JS
body:not(.js) .color-modes {
	display: none;
}














@import "_responsive.scss"; // Keep at bottom of file